main div{
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-30%);
}
main img{
    height: 100%;
}

p{
    margin: auto 0;
    width: 50%;
    height: auto;
    font-size: 1.5rem;
    color: brown;
    text-align: justify;
}

@media all and (max-device-width: 480px)
{
main>div{
    flex-direction: column;
}
main>div>p{
    order: -1;
    font-size: 1.1rem;
    width: 90%;
    margin: 50px auto;
}
}