section {
  height: 85%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 0;
}

.coordonnees, .formulaire {
  width: 40%;
  height: 100%;
}

.formulaire {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.coordonnees p {
  font-size: 25px;
  color: black;
  margin-top: 40px;
  margin-left: 20px;
}

.coordonnees span {
  color: #D3745E;
}

.coordonneesTexte {
  font-family: 'Reem Kufi';
  margin-top: 100px;
  font-weight: bold;
}

.separateur {
  height: 45%;
  transform: translateY(-15%);
}

form {
  height: 50%;
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Reem Kufi';
}

.msg, .email, .submit, .nom, .prenom {
  border-color: #ECB390;
  border-width: 3px;
  border-radius: 5px;
  font-size: 20px;
}

.nom_prenom input {
  height: 100%;
  width: 45%;
}

.nom_prenom {
  display: flex;
  justify-content: space-between;
  height: 12%;
  margin-bottom: 4%;
  margin-top: 15%;
  width: calc(100% + 6px);
}

.email {
  height: 12%;
  margin: 2%;
  width: 100%;
}

.msg {
  width: 100%;
  margin: 2%;
  height: 30%;
  padding: 0;
}

.submit {
  border-radius: 50px;
  width: 40%;
  height: 12%;
  margin-top: 10%;
  align-self: center;
  font-size: 20px;
  background-color: white;
}

.submit input {
  background-color: white;
  color: black;
  border-radius: 50px;
  font-weight: bold;
}
@media all and (max-device-width: 480px)
{
.separateur{
  display: none;
}
section{
  margin-top: 200px;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.coordonnees, .formulaire{
  width: 90%;
}
main{
  overflow-y: scroll;
}
form{
  height: auto;
}
.nom_prenom{
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  margin-bottom: 0;
}
.nom_prenom input{
  width: 100%;
}
.nom_prenom input:last-child{
  margin: 4% 0 2%;
}
.submit{
  width: 70%;
  border-radius: 7px;
  margin-bottom: 30px;
}
}