.foreground{
  width: 100%;
  animation-name: levitation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
}
*{
  font-family: 'Raleway';
}
.triggered1{
  transform: rotate(-45deg);
}
.triggered2{
  transform: rotate(45deg);
}
.menuTrigger{
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  width: 10%;
}
.menuTrigger img{
  height: 15%;
  margin-right: 40px;
  margin-top: 50px;
  transition: 0.25s;
  transform-origin: right;
}
.menuItem{
  width: 20%;
}
header{
  height: 15%;
  display: flex;
  justify-content: flex-end;
  background-color: #FCF8E8;
}
.menu span{
  position: relative;
  height: 3%;
  width: 20%;
  background: black;
}
.menu{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #ECDFC8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: -100vh;
  left: 0;
  transition: transform 0.3s ease-out;
  z-index: 1;
}
.menuItem:last-child{
  margin-top: 20px;
}
.menuTriggered{
  transform: translateY(100%);
}
body{
  height: 100vh;
  width: 100vw;
  background: white;
  overflow: hidden;
  margin: 0;
}
main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCF8E8;
}
p{
 font-size: 90px;
 color: white;
 transition: opacity 100ms ease-in;
}
.saijaLoader{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms linear;
  margin-bottom: 10%;
}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #87ceeb;
  transition: opacity 200ms linear 400ms, visibility 0s linear 600ms, transform 200ms ease-in 400ms;
  transform: translateY(-100%);
  flex-direction: column;
  z-index: 500;
}
.loading{
  opacity: 1;
  transform: translateY(0);
}

.loadingTextEnd{
  opacity: 0;
}

.foregroundDisappear{
  animation-name: disappear;
  animation-duration: 700ms;
  animation-timing-function: ease-in;
  animation-timing-function: cubic-bezier(.93,-0.35,.1,1.32);
}
.loader-container{
  width: 20%;
  transform-origin: center;
  animation-fill-mode: forwards;
}
@keyframes disappear{
  from{
    transform: translateY(0) scale(1);
  }
  to{
    transform: translateY(-350%) scale(5);
  }
}
@keyframes levitation{
  from{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10%);
  }
  to{
    transform: translateY(0);
  }
}
@media screen and (max-width: 480px){
  .menuItem{
    width: 80%;
  }
  .menuTrigger img{
    height: 10%;
    margin-bottom: 10px;
  }
  .menuTrigger img:last-child{
    margin-top: 20px;
  }
  header{
    width:100%;
    position: fixed;
    z-index: 50;
    background: none;
  }
  header img:last-child{
    margin-bottom: 40px;
  }
}
