main>div{
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-30%);
}

p{
    margin: auto 0;
    width: 50%;
    height: auto;
    font-size: 1.5rem;
    color: brown;
    text-align: justify;
}

.aproposContainer{
    position: relative;
    width: 30%;
    height: 100%;
}
.aproposContainer img{
    position: absolute;
}
.fullSize{
    height: 100%;
}
.yeux{
    width: 7.2%;
}
.oeil1{
    top: 48%;
    left: 28%;
}
.oeil2{
    top: 48%;
    left: 57%;
}

@media all and (max-device-width: 1680px)
{   .yeux{
        width: 7.5%;
    }
    .oeil1{
        top: 48.5%;
        left: 32%;
    }
    .oeil2{
        top: 48.5%;
        left: 64%;
    }
}
@media all and (max-device-width: 1280px)
{
    .yeux{
        width: 10%;
    }
    .oeil1{
        top: 48%;
        left: 41%;
    }
    .oeil2{
        top: 48%;
        left: 82%;
    }
}
@media all and (max-device-width: 480px)

{
    .aproposContainer{
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    main div{
        flex-direction: column;
        height: 80%;
        margin-top: 370px;
    }
    main>div>p{
        order: -1;
        font-size: 1.1rem;
        width: 90%;
        margin: 50px auto;
    }
    .yeux{
        width: 7%;
    }
    .oeil1{
        top: 48%;
        left: 30%;
    }
    .oeil2{
        top: 48%;
        left: 60%;
    }
}
}